.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 4px solid #b00000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__logo {
    display: flex;
    align-items: center;

    img {
      height: 50px;
      margin-right: 1rem;
    }

    h1 {
      margin: 0;
      font-size: 1.5rem;
      color: #b00000;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      color: #555;
    }
  }

  &__nav {
    display: flex;
    margin-left: auto; 
    margin-right: 50px;
    ul {
      display: flex;
      list-style: none;
      gap: 1rem; // Espaciado entre items
      margin: 0;
      padding: 0;

      li {
        a {
          text-decoration: none;
          color: #333;
          font-size: 1rem;
          font-weight: bold;
          &:hover {
            color: #b00000;
          }
        }
      }
    }

    &--open {
      position: absolute;
      top: 103px;
   
      background-color: #fff;
      width: 100%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      ul {
        flex-direction: column;
        padding: 1rem 0;
      }
    }

    &--closed {
      display: none;
    }
  }

  &__menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 20px;

    .bar {
      height: 3px;
      background-color: #333;
      border-radius: 2px;
    }
  }

  @media (max-width: 1280px) {
    &__nav {
      display: none; // Oculta el nav en pantallas pequeñas por defecto
    }

    &__menu-icon {
      display: flex; // Muestra el ícono hamburguesa
    }

    &__nav--open {
      display: flex;  
      flex-direction: column;
    }
  }
}
